.profileImg {
	@apply max-w-[128px] max-h-[128px] rounded-[50%] flex-auto mb-6;
	transform-origin: center;
	transform: scale(1.001);
	transition: transform 0.4s ease-in-out;

	// article:has(:hover, :focus) {
	// 	--img-scale: 1.1;
	// 	--title-color: #28666e;
	// 	--link-icon-translate: 0;
	// 	--link-icon-opacity: 1;
	// 	box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
	// }
}

.fullName {
	@apply transition-colors;
	font-family: 'Bebas Neue', sans-serif;
	font-size: 1.9rem;
	letter-spacing: 0.06em;
	color: white;
	// transition: color 0.3s ease-out;
	margin: 0 0 18px 0;
}
